.bigbox{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.2rem;
    font-weight:540;
    background-color:#212121;   
}
.bigbox form{
    background-color:snow;
    width:35vw;
    border:2px solid black;
    padding:2rem;
    border-radius:0.5rem;
    box-shadow:-8px -8px 2px white;
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.inputBox label{
    display:inline-block;
    width:400px;
    color:black;
}
.inputBox input{
      border:2px solid black;
      border-radius:0.3rem;
      padding:0.5rem;
      margin-top:0.5rem; 
      width:60%;
      color:black;
}
.submitButt button{
   width:100px;
   height:2.5rem;
   color:black;
   text-align:center;
   font-size:1.5rem;
   background-color:rgb(226, 221, 221);
   padding:0.25rem;
   border-radius:0.5rem;
}
.submitButt button:hover{
    color:whitesmoke;
    background-color:rgb(151, 249, 4);
    font-weight:500;
}
